:root{
    --background-light: #068;
    --border-light: #07a;
    --background-light-color: #58e;
    --border-color-light: #46a;
    --letter-color-light: #333;
    --background-dark: #159;
    --background-dark-color: #03045E;
    --border-dark:  #666;
    --border-color-dark: #023E8A;
    --letter-color-dark: #eee;
    --border-raidus-slow: 2rem;
    --title-letter-size: 2.1rem;
    --first-letter-size: 1.6rem;
    --letter-size: 1.2rem;
    --default-margin: .7rem;
    --default-padding: 0.3125rem;
    --default-padding-2:0.7rem;
    --big-icon-size: 2.7rem;
    --unique-first-title-size: 2.4rem;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'noto sans', sans-serif;
    font-size: var(--letter-size);
}

input,
textarea{
    font-family: "noto sans", sans-serif;
    padding: 10px;
    width: 200px;
    outline: none;
    background-color: #8881;
    border: none;
    background-color: var(--border-color-light);
    border-bottom: 3.4px solid var(--border-color-dark);
    border-radius: var(--border-raidus-slow);
    color: var(--letter-color-dark);
}

textarea{
    border-right: 3.4px solid var(--border-color-dark);
    border-radius: 1rem 1rem var(--border-raidus-slow) var(--border-raidus-slow);
}

input::placeholder,
textarea::placeholder{
    color: var(--letter-color-dark);
}

select{
    padding: var(--default-padding);
    font-size: var(--title-letter-size);
    border-radius: var(--border-raidus-slow);
    background-color: var(--background-light-color);
    border: 3px solid var(--border-color-light);
    color: var(--letter-color-dark);
    cursor: pointer;
}

button{
    background-color: var(--background-light-color);
    border: 2px solid var(--border-color-light);
    color: var(--letter-color-dark);
    cursor: pointer;
    padding: var(--default-padding-2);
    border-radius: var(--border-raidus-slow);
    transition: box-shadow .1s, background-color .2s, border .2s, background .2s;
}

button:active:not(#button-open-second-nav, #button-open-user-options){
    box-shadow: 0px 0px 20px var(--border-color-light);
}

.secundary-nav__options-part__container__button{
    padding: var(--default-padding);
    font-size: 1.3rem;
    text-transform: uppercase;
}

/*? .secundary-nav__options-part__container__button:hover, .list-container__parts.delete >  */
button:hover:not(#button-open-second-nav, #button-open-user-options){
    background-color: var(--background-dark-color);
    border: 2px solid var(--border-color-dark);
    color: var(--letter-color-dark);
}

p,
label{
    color: var(--letter-color-dark);
}

label:hover{
    cursor: pointer;
}

/**Estilo que le dará al header principal*/

#header-principal{
    height: 73px;
    width:100vw;
    position: relative;
    top: 0px;
    padding:var(--default-padding);
    background-color: var(--background-light);
    box-sizing: border-box;
}

#header-principal__nav{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0px var(--default-padding);
    box-sizing: border-box;
}

.header-principal-nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--letter-color-dark);
}

.header-principal-nav-list__item{
    list-style: none;
}

#title-principal{
    font-size: var(--unique-first-title-size);
    text-transform: uppercase;
}

.header-principal-nav-list__item:last-child:first-child{
    margin: 0px var(--default-margin);
}

.header-principal-nav-list-item__button{
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
}

.header-principal-nav-list-item__button > span{
    font-size: var(--big-icon-size);
    color: var(--letter-color-dark);
}

.header-principal-nav-list-item__button > span:hover{
    position: relative;
    font-size: 3.3rem;
}

/** estilo del contenido general */

#all-content-container{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    height: calc(100vh - 73px);
    width: 100vw;
    background: var(--border-light);
    box-sizing: border-box;
}

/** secundary nav */

.secundary-nav-container{
    display: none;
    height: 100%;
    background-color: var(--background-light);
    padding: var(--default-padding);;
    box-sizing: border-box;
    transition: min-width .2s;
}

.secundary-nav-container.active{
    display: inline-block;
    min-width: 400px;
}

#secundary-nav{
    display: grid;
    grid-template-rows: .5fr 5fr .5fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: var(--default-padding);
    box-sizing: border-box;
}

.secundary-nav__search-part{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--letter-color-dark);
}

.secundary-nav__search-part > label > span{
    position: relative;
    top: 3px;
    font-size: var(--title-letter-size);
    cursor: pointer;
}

.secundary-nav__lists-part{
    overflow: auto;
}

.secundary-nav__lists-part::-webkit-scrollbar{
    display: block;
}
.secundary-nav__lists-part::-webkit-scrollbar-track{
    background-color: var(--background-dark-color);
    border-radius: var(--border-raidus-slow);
}
.secundary-nav__lists-part::-webkit-scrollbar-thumb{
    background-color: var(--border-color-dark);
    border-radius: var(--border-raidus-slow);
}

/** add/remove lists and groups */

.secundary-nav__options-part__container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 4px;
    height: 100%;
    width: 100%;
}

/** lists-containers */

.list-container{
    display: grid;
    grid-template-columns: .2fr 1fr .3fr;
    align-items: center;
    padding: var(--default-padding);
    margin-bottom: 4px;
    background-color: var(--border-color-light);
    border-radius: var(--border-raidus-slow);
}

.list-container__parts.icon{
    margin: auto;
}

.list-container__parts.title{
    padding: var(--default-padding);
    cursor: pointer;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-container__parts.title p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-container__parts.delete{
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;
    padding: var(--default-padding);
    button > span{
        font-size: 1.2rem;
    }
}

/** all content */

.acts-container-all{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    width: 100%;
    padding: var(--default-padding);
    box-sizing: border-box;
}

.acts-container-all > div{
    width: 100%;
}

.acts-container__filter-container{
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    padding: var(--default-padding);
    position: relative;
    box-sizing: border-box;

    select, button{
        font-size: var(--letter-size);
    }
}

.acts-container__acts{
    position: relative;
    overflow: auto;
}

.create-act__form-data{
    color: var(--letter-color-dark);
}

/** acts's style */

.act{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: var(--default-margin) 0px;
    padding: var(--default-padding) 15px;
    background-color: #3332;
    border-radius: var(--border-raidus-slow);
    gap: 20px;
    color: var(--letter-color-dark);
}

.act-part.fst{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.act-part.title{
    cursor: pointer;
}

.act-chechbox{
    width: auto;
}

.act-part.date{
    font-size: .8rem;
    color: #000;
}

.act-date{
    color: var(--letter-color-dark);
}

/** finished acts */

.finished-acts__container{
    margin-top: 20px;
    padding: 10px var(--default-padding);
    cursor: pointer;

    summary{
        color: var(--letter-color-dark);
    }
}

/** dialog , create list */


dialog[open]{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background:none;
    border: none;
    overflow: hidden;
    z-index: 10;
}

.dialog-container{
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    position: relative;
    margin-left: 40px;
    width: 500px;
    padding: 20px 0px;
    background-color: var(--border-color-light);
    border: 3px solid var(--background-light-color);
    border-radius: var(--border-raidus-slow);
}

.create-list-window__container{
    gap: 50px;
}

.dialog-title:not(.list-name-id){
    text-transform: uppercase;
    text-wrap: balance;
    color: var(--letter-color-dark);
}

#close_list-window{
    position: absolute;
    top: 10px;
    right: 10px;
}

#create-activity-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.dialog-input{
    font-size: var(--letter-size);
}

#create-activity-form button.create-activity-input{
    padding: var(--default-padding);
}



/* dialog delete list y crete act */

.delete-list-accept, .delete-list-rejact{
    padding-inline: 12px 16px;
}

#create-act-window form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    .create-act__input-submit button{
        padding: var(--default-padding);
        margin: auto;
        margin-top: 1rem;
        font-size: var(--letter-size);
    }

    .create-act__input-zone{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.create-act__input-zone label{
    text-transform: uppercase;
}

.create-act__input-zone label::after{
    content: " =>";
    color: #000;
}

.create-act__input-zone label:hover{
    text-decoration: underline var(--border-color-dark) 1.2px;
}

.select-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}


/* -> mensaje de elegir lista <- */

/* !  message that say to the user "choose one list" */

.mensage-before-choose-list{
    display: block;
    min-height: 100px;
    background-color: #e66;
    border: 2px solid #e44;
    border-radius: var(--border-raidus-slow);
    box-shadow:0px 10px #a33;
    padding: 1rem;
    margin: var(--default-margin);
    text-transform: uppercase;
    color: var(--letter-color-dark);

    div{
        width: 70%;
        margin: 0px auto;
        text-align: center;

        h6{
            display: inline-block;
            font-size: var(--title-letter-size);
        }

        p{
            font-size: 1.4rem;
        }

        span{
            font-size: 1.4rem;
            color: #eea;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

modify-act-space,
#modify-act-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    align-items: center;
}

.modify-act-space{
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 20px;
    height: 100vh;
    border-radius: 20px 0px 0px 20px;
    background-color: var(--background-dark-color);
    z-index: 100;
}

.modify-act-space input, textarea{
    padding: 7px;
    resize:none;
}

.arrow-back-btn{
    margin-bottom: 10px;
}

.modify-act-fragment{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: flex-start;

    label{
        margin-left: 20px;
        text-transform: uppercase;
    }
}


@media only screen and (max-width: 1160px) {
    .secundary-nav-container.active{
        position: absolute;
        top: 0px;
        left: 0px;
        min-width: 100vw;
        height: 100vh - 73px;
        padding: 0px;
        z-index: 20;
        box-sizing: border-box;
    }

    #secundary-nav{
        grid-template-columns: 100vw;
        padding: 0px;
        grid-template-rows: .9fr 5fr 1.3fr;
    }
    .acts-container__filter-container > select{
        font-size: 1rem;
    }
    .temporal-add-list-in-main{
        font-size: var(--letter-size);
    }

    .create-act__input-zone{
        display: flex;
        flex-flow: column nowrap;
    }

    .create-act__input-zone label::after{
        content: none;
    }
    .modify-act-space{
        justify-content: center;
        width: 100vw;
        border-radius: 0px;
    }
}